@import '../../theme/variables';

$header-text-clr: #fff;

.countdown-container {
  background-color: map-get($colors, primary);
  text-align: center;

  .countdown-title {
    text-align: center;
    font-size: 2.4rem;
    font-family: $custom-header-font;
    color: $header-text-clr;
  }

  .countdown-digits {
    display: flex;
    justify-content: center;
  }

  .countdown-digit {
    text-align: center;
    padding: 5px;
  }

  .countdown-digit-label {
    color: $header-text-clr;
  }

  .countdown-digit-val {
    background-color: white;
  }
}
