<!-- Generated template for the CountdownComponent component -->
<div class="countdown-container">
  <div class="countdown-title">
    {{title}}
  </div>
  <div class="countdown-digits">
    <div class="countdown-digit">
      <div class="countdown-digit-label">Days</div>
      <div class="countdown-digit-val">{{days}}</div>
    </div>
    <div class="countdown-digit">
      <div class="countdown-digit-label">Hours</div>
      <div class="countdown-digit-val">{{hours}}</div>
    </div>
    <div class="countdown-digit">
      <div class="countdown-digit-label">Minutes</div>
      <div class="countdown-digit-val">{{minutes}}</div>
    </div>
    <div class="countdown-digit">
      <div class="countdown-digit-label">Seconds</div>
      <div class="countdown-digit-val">{{seconds}}</div>
    </div>
  </div>
</div>
