<ion-card>
  <ion-card-header>
    Card Header
  </ion-card-header>

  <img src="{{photo.photoUrl}}" alt="">
  <ion-card-content>
    <p>{{photo.timestampStr}}</p>
  </ion-card-content>

  <div float-left>
    <button ion-button clear class="vote-container">
      <ion-icon name='heart' class="vote-icon"></ion-icon>
      <ion-badge small item-start>{{photo.votes}}</ion-badge>
    </button>
  </div>
  <div float-right>
    <button (click)="onShare()" ion-button clear icon-only>
      <ion-icon name='share-alt'></ion-icon>
    </button>
    <button (click)="onInstagram()" ion-button clear icon-only>
      <ion-icon name='logo-instagram'></ion-icon>
    </button>
  </div>

</ion-card>
