<ion-card>
  <img src="{{photo.photoUrl}}" alt="">
  <ion-card-content class="photo-labels-content" no-padding>
    <p class="photo-timestamp">{{photo.timestampStr}}</p>
    <!-- <div class="photo-hour-label">X hours left</div> -->
  </ion-card-content>

  <div float-left>
    <button ion-button clear class="vote-container" (click)="toggleVote()">
      <ion-icon [name]='photo.isVoted ? "heart" : "heart-outline"' class="vote-icon"></ion-icon>
      <ion-badge small item-start>{{photo.votes}}</ion-badge>
    </button>
  </div>
  <div float-right class="photo-share-buttons">
    <button (click)="onShare()" ion-button clear icon-only>
      <ion-icon name='share-alt'></ion-icon>
    </button>
    <button (click)="onInstagram()" ion-button clear icon-only>
      <ion-icon name='logo-instagram'></ion-icon>
    </button>
  </div>

</ion-card>
