.vote-container {
  line-height: 2.2em;
  .vote-icon {
    font-size: 2em;
    padding-right: 8px;
  }
}

.photo-timestamp {
  padding: 8px 0px 0px 15px;
}

.photo-labels-content {
  position: relative;
}

.photo-hour-label {
  position: absolute;
  top: 8px;
  right: 15px;
}
