<ion-header>
  <ion-navbar>
    <ion-title>Team Details</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>
        {{team.teamName}}
      </ion-card-title>
      <img src="{{team.logo}}" />
      <p>
        {{team.bio}}
      </p>
    </ion-card-content>

    <ion-card-content *ngIf="team.films.length > 0">
      <ion-item>
        <ion-icon item-start name="videocam"></ion-icon>
        Previous Films
      </ion-item>
      <ion-list inset>
        <button ion-item *ngFor="let curVid of team.films" (click)="filmSelected(curVid)">
          <h2>{{curVid.title}}</h2>
          <p>{{curVid.year}}</p>
        </button>
      </ion-list>

    </ion-card-content>
  </ion-card>

</ion-content>
